<html>
    <h1>
    Gas Prices
    </h1>

    </html>

<!doctype html>
<html>
<head>
    <title>Gas Prices Suck</title>
    	<meta charset="utf-8" />

<!--    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>-->
    <script src="js/d3.min.js" charset="utf-8"></script>
</head> 
<body>
    <table border="1">
        <tr>
          <td>
           Station 
          </td>
          <td>
           Price
          </td>
        </tr>
        <tr>
          <td border>
            <div id="gaspricesName"></div>
          </td>
          <td>
            <div id="gaspricesPrice"></div>  
          </td>
        </tr>
    </table>
    
    <h4>Add New Stations & Prices</h4>
     <form action="/update" method="post">
         <label for="station">Station</label>
         <input type="text" name="station" id="station">
         <label for="price">Price</label>
        <input type="text" name="price" id="price">
         <input type="submit">
     </form>

<!--    <div id="gasprices"></div>-->
<script>
    var file = "gas_prices.csv"
d3.csv(file, function(data) {
  for (var i = 0; i < data.length; i++) {
      console.log(data[i].Name);
      console.log(data[i].Price);
      document.getElementById("gaspricesName").innerHTML += data[i].Name + "<br>"
      document.getElementById("gaspricesPrice").innerHTML += data[i].Price + "<br>"      
  }
});
 
</script>
</body> 
</html>