<html>
    <h1>
    CSV
    </h1>

    </html>

<!doctype html>
<html>
<head>
    <title>D3 tutorial</title>
    	<meta charset="utf-8" />

<!--    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>-->
    <script src="js/d3.min.js" charset="utf-8"></script>
</head> 
<body>
    <table border="1">
        <tr>
          <td>
           Station 
          </td>
          <td>
           Price
          </td>
        </tr>
        <tr>
          <td>
            <div id="gaspricesName"></div>
          </td>
          <td>
            <div id="gaspricesPrice"></div>  
          </td>
        </tr>
    </table>

<!--    <div id="gasprices"></div>-->
<script>
    var file = "gas_prices.csv"
d3.csv(file, function(data) {
  for (var i = 0; i < data.length; i++) {
      console.log(data[i].Name);
      console.log(data[i].Price);
      document.getElementById("gaspricesName").innerHTML += data[i].Name + "<br>"
      document.getElementById("gaspricesPrice").innerHTML += data[i].Price + "<br>"


      
      
  }
});
 
</script>
</body> 
</html>